/* .oswald-<uniquifier> {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  } */


html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --white-color: #fff;
    --gray-color: #999999;
    --bg-color: #E5E5E5;
}

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.text-h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 24px;
}

.text-h4 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 21px;
}

.text-p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

.text-p-reviews {
    line-height: 21px;
}

.header {
    min-height: 740px;
    background-image: url(../img/firstscr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.header__title {

    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: var(--white-color);
    margin-bottom: 4px;
}

.burger__line:last-child {
    margin-bottom: 0;
}

.h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    max-width: 734px;
    margin: 0 auto 17px;
    color: var(--white-color);
}
.h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    max-width: 734px;
    margin: 0 auto;
    color: var(--white-color);
}